.App {
  margin: auto;
  padding: 0;
}
.nav{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.main-content-container {
  max-width: 940px;
  
  margin: 0 auto;
  padding: 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background: linear-gradient(to bottom, #000, #000, #3333338c, #000, #000);
  
}

.container {
  height: 80px;
  margin: 10px 1em;
  padding-left: 10px;
  padding-right: 10px;
  flex: 0 1 20%;
  
}
.Add{
  display: flex;
 justify-content: flex-end;
}
.Add button{
  background-color: transparent;
  border: none;
  color: white;
}

.ae{
  display: flex;
  justify-content: center;
}


@media (max-width: 500px) {
  .main-content-container {
    padding: 8px;
  }
  .container {
    flex: 0 1 15%;
  }
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input:focus{
  outline: none;
}
input[type=number]{
  background-color: transparent;
  color: aliceblue;
  font-size: 4em;
  text-align: center;
  border: none;
}